#pragma once

// Serial settings
#define USE_SERIAL // Place // at the start of this line to not use serial at all

// Wifi settings
char wifi_ssid[] = "myssid"; // (change this)
char wifi_pass[] = "mypass"; // (change this)
const long wifi_retry_connect_delay_msecs = 8000;

// HTTP settings
const char *http_server_address = "192.168.0.2"; // (change this)
const long http_server_port = 80; // (possibly change this)
const long send_interval_msecs = 10000;
