# Docker compose
.env
/docker-compose-volumes/*
!/docker-compose-volumes/.gitkeep

dnsmasq.conf

custom_scripts.py

# Arduino
settings.h
tft_setup.h

# Temp files
*.swp
*.pyc
.ipynb_checkpoints
/temp
