#pragma once

struct Settings
{
public:
  // Wifi settings
  const char *wifi_ssid = "myssid"; // (change this)
  const char *wifi_pass = "mypass"; // (change this)
  
  // MQTT settings
  const char *mqtt_broker_address = "192.168.0.2"; // (change this)
  const uint16_t mqtt_broker_port = 1883;
  const uint32_t publish_interval_msecs = 10000;
  const size_t incoming_message_size_limit = 1024; // (possibly change this if you have insufficient or spare heap memory)

  // Serial settings
  const bool use_serial = false;
};

Settings settings;

